{% extends 'admin/admin.html.twig' %}
{% block title "Création d'une nouvelle catégorie" %}
{% block body %}
    <h1>
        Création d'une nouvelle catégorie
    </h1>
    {{ form(form) }}
{% endblock %}
    